includes:
    - vendor/phpstan/phpstan-symfony/extension.neon
    - vendor/phpstan/phpstan-php-parser/extension.neon
    - vendor/phpstan/phpstan-deprecation-rules/rules.neon
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-phpunit/rules.neon
    - vendor/phpstan/phpstan/conf/bleedingEdge.neon

parameters:
    checkGenericClassInNonGenericObjectType: false
    editorUrl: 'phpstorm://open?file=%%file%%&line=%%line%%'
    level: 8
    paths:
        - src
    excludePaths:
        analyseAndScan:
            - src/Common/Serializer/Visitor/DeserializationVisitorDecorator
    ignoreErrors:
        # $doc->saveXML() is called after a successful $doc->loadXML() so will never return false
        - message: '#Method [a-zA-Z0-9\\_]+::prettyXml\(\) should return string but returns string\|false.#'
          path: src/Common/Util/StringUtil.php