includes:
    - vendor/phpstan/phpstan-symfony/extension.neon
    - vendor/phpstan/phpstan-php-parser/extension.neon
    - vendor/phpstan/phpstan-deprecation-rules/rules.neon
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-phpunit/rules.neon
    - vendor/phpstan/phpstan/conf/bleedingEdge.neon

parameters:
    editorUrl: 'phpstorm://open?file=%%file%%&line=%%line%%'
    level: 8
    paths:
        - src
